/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
  margin: 0;
  font-family: 'San Francisco', sans-serif;
}

.headshot {
  width: 350px;
  margin-left: 10px;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-left: 200px;
  margin-top: 60px;
}

@media screen and (max-width: 720px) {
  .site-wrapper {
    width: 100vw;
    margin-left: 10px;
  }
}

.site-wrapper .header h1 {
  font-size: 52px;
  color: #000;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10px;
}

.tagline {
  font-size: 15px;
  margin: 0 0 0 13px;
  width: 375px;
}

@media screen and (max-width: 720px) {
  .site-wrapper .header h1 {
    font-size: 35px;
    margin-left: 8px;
  }

  .tagline {
    font-size: 13px;
    margin: 0 0 0 8px;
    width: 275px;
  }
}

.site-wrapper .info .nav-ul .nav-li {
  font-weight: 500;
  font-size: 17px;
}

.site-wrapper .info {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 0 0 30px 10px;
}

.site-wrapper .info .middle {
  margin-top: 50px;
}

.site-wrapper .info .info-item {
  width: 300px;
  margin: -10px 0 -10px 0;
}

.site-wrapper .info .info-item:first-child {
  margin-top: 20px;
}

@media screen and (max-width: 720px) {
  .site-wrapper .info .info-item:first-child {
    margin-top: 0;
  }
}

.site-wrapper .info .info-item .info-title {
  color: #FC636C;
  margin-bottom: 0;
  font-weight: normal;
}

@media screen and (max-width: 720px) {
  .site-wrapper .info .info-item {
    width: 240px;
  }
}

.site-wrapper .info .info-item ul {
  list-style-type: none;
  padding-left: 0;
}

.site-wrapper .info .info-item ul li {
  display: inline;
  line-height: 25px;
}

.site-wrapper .info .info-item ul li:first-child span,
.site-wrapper .info .info-item ul li:last-child span {
  margin-left: 0;
}

.site-wrapper .info .info-item ul li a, 
.site-wrapper .info .info-item p a,
.site-wrapper .info p a, 
.site-wrapper .header p a {
  color: #000;
  text-decoration: none;
  margin-right: 2.5px;
}

.site-wrapper .info .info-item ul li span,
.site-wrapper .info .info-item p span,
.site-wrapper .info p span,
.site-wrapper .header p span {
  line-height: 5px;
  text-decoration: underline;
  line-height: 20px;
}

.site-wrapper .links {
  margin-left: 10px;
  width: 475px;
}

@media screen and (max-width: 720px) {
  .site-wrapper .links {
    width: 300px;
    font-size: 13px;
  }

  .site-wrapper {
    margin-top: 30px;
  }
}

.site-wrapper .links ul {
  list-style-type: none;
  padding-left: 0;
}

.site-wrapper .links ul li {
  display: inline;
  line-height: 25px;
}

.site-wrapper .links ul li a {
  color: #000;
  text-decoration: none;
}

.site-wrapper .links ul li span {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  line-height: 5px;
  margin-right: 5px;
  line-height: 20px;
  opacity: 1;
  color: #8D8D8D;
}

@media (pointer: fine) {
  .site-wrapper .info .info-item ul li a:hover, 
  .site-wrapper .info .info-item p a:hover,
  .site-wrapper .links ul li a:hover
   {
    opacity: 1;
    color: #FC636C;
  }
}